@media (min-width: 1200px) {
  .category-cards-container {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .category-cards-container {
    flex-direction: column;
    align-items: center;
  }
  }


.search-category-card {
    width: 10rem;
    height: 10rem;
    border: none;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
    background-color:#f9e1b6;
    opacity: 0.8;
    box-shadow: 0 2px 4px #8C4303;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 25px;
    margin-right: 10px;
  }
  
  .search-category-card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .category-icon {
    width: 64px;
    height: 64px;
    margin-top: 10px;
  }

  .card-title{
    font-size: 26px !important;
    font-weight: 600;
    letter-spacing: -1px;
    color: #8C4303;
  }