.profile-page-container {
  background: url('../../styles/backgrounds/myprofile-page-background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.edit-profile-container {
  height: 100vh;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Space Mono', monospace;
}

input,
textarea {
  border-radius: 0.25rem;
  outline: #8C4303;
  border: none;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px #8C4303;
  width: 100%; 
}

textarea {
  width: 100%;
  height: 200px !important;
}

.edit-profile-page-btn {
  border-radius: 0.25rem;
  border: none;
  box-shadow: 0 2px 4px #8C4303;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  letter-spacing: -1px;
  color: #FFFFFF;
  font-weight: 600;
  background-color: #F25F29;
}

.edit-profile-page-btn:hover {
  background-color: #8C4303;
  cursor: pointer;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -1px;
  color: #8C4303;
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 5px;
  letter-spacing: -1px;
  color: #8C4303;
}

.success-edit-profile-msg{
  top: 20%;
  left: 5%;;
  justify-content: center;
  font-family: 'Space Mono', monospace;
  position: absolute;
}