.toggle-search-container {
  top: 150px;
  display: flex;
  align-items: center;
  position: fixed;
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
  width: 180px;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
}

.toggle-search-button {
  background-color: transparent;
  color: #FFFFFF;
  font-size: 14px;
  border: none;
  padding: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 20px;
  transition: background-color 0.8s ease, width 0.8s ease;

}

.toggle-search-button:hover, .toggle-search-button:active{
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.toggle-handle {
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: transform 0.1s ease;
}

.toggle-text {
  position: static;
}

.move-left {
  transform: translateX(0);
}

.move-right {
  transform: translateX(100%);
}

  .search-icon {
    width: 29px;
    height: 29px; 
    padding: 0;
  }

  .search-options-container {
    top: 200px;
    left: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .search-results-container {
    top: 200px;
    left: 500px;
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: fit-content;
  } 

  .search-mode-choice-container{
    margin-top: -100px;
    margin-left: 50px;
    position: absolute;
    font-family: 'Gotu', sans-serif;
    letter-spacing: -1px;
  }

  .search-bar-btn{
    margin-bottom: 5px;
    background-color: #D7C3B8;
    width: 100px; 
    height: 100px;
    border: none;
    background-color: #D7C3B8;
    box-shadow: 0 2px 4px #8C4E37;
    border-radius: 50%;
  }

  .search-bar-btn:hover{
    background-color: #A64153;
  }