.search-page-container {
  background: 
    linear-gradient(to bottom, #837364, #D7C3B8);
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
  position: relative;
  overflow: hidden;
}

/* .search-options-and-results-layout{
  width: 70%;
  margin: 0 auto;
} */