.pet-cards-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
    width: 90%;
  }
  
  .pet-card-container {
    flex: 0 0 auto;
    margin-right: 10px;
  }
  
  .searchfeed-fragment-container {
    position: relative;
    width: 650px !important;
    text-align: center;
    display: flex;
    flex-direction: row;
    white-space: wrap; 
    overflow-x: scroll; 
    scrollbar-width: thin;
  }