label, .modal-header {
  letter-spacing: -2px;
  line-height: 1.1;
  font-family: 'Space Mono', monospace;
  color: #593202;
  font-size: 16px;
}

label{
  position: static;
}

input {
  height: 40px;
  width: 364px !important;
  font-size: 16px !important;
  font-family: 'Syne Mono', monospace;
  margin-bottom: 10px;
}

input.form-control:focus {
  outline: none!important;
  box-shadow: 0.25rem 0.25rem 0 #9AD9C7 !important;
}


.modal-btn, .switch-login-signup-btn{
  border: none;
  border-radius: 0.25rem;
  margin: 40px 0 - 20px;
  color: brown;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0.25rem 0.25rem 0 #9AD9C7;
  width: 364px;
  height: 40px;
}

.btn-close{
  background-color: #FFFFFF;
  opacity: 1;
  height: 20px;
  margin-right: 4px !important;
  box-shadow: 0.25rem 0.25rem 0 #9AD9C7;
  color: #593202 !important;
  font-size: 16px;
}

.modal-header, .modal-body, .modal-footer {
  background-color: transparent; 
}

.modal-title{
  font-family: 'Space Mono', monospace;
  font-size: 1.4rem;
  font-weight: 600;
  background: linear-gradient(to right, #F25D27, #593202) text;
  color: transparent;
}

.modal-content {
  width: 400px !important;
  margin-top: 10%;
  opacity: 0.8;
}