.pet-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: fit-content;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #8C4303;
  margin: 10px;
}

.custom-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 0.25rem; 
}

.card-img {
  object-fit: cover;
  max-width: 190px;
  height: 150px;
}

.pet-card-btn {
  font-size: 16px; 
  color: #8C4303;
  font-family: 'Montserrat Alternates', sans-serif !important;
  border: solid 1px #FFFFFF;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px #8C4303;
  background-color: transparent;

}

.pet-card {
  width: 200px;
  height: 300px;
  border: none;
  border-radius: 0.25rem;
  background-color: #f9e1b6;
  box-shadow: 0 2px 4px #8C4303;
  color: #8C4303;
}