.pet-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: fit-content;
  font-family: 'Montserrat Alternates', sans-serif;
}

.custom-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 0.25rem;
}

.card-img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.pet-card-btn {
  font-size: 16px; 
  color: #FFFFFF;
  font-family: 'Montserrat Alternates', sans-serif !important;
  border: solid 1px #FFFFFF;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px #8C4303;
  background-color: transparent;
  margin-top: 8px; 
}

.pet-card {
  width: 300px;
  height: 400px;
  border: none;
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
  background-color: #F26F63;
}

.pet-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}