.pet-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: fit-content;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
  position: relative;
}

.card-img {
  object-fit: cover;
  max-width: 190px;
  min-height: 190px;
  margin: 2px 2px 2px 2px !important;
}

.card-title {
  line-height: 0.5px;
  margin-top: 0px;
  color: #401e12 !important;
  font-size: 20px !important;
}

.pet-card {
  width: 200px;
  height: 300px;
  border: none;
  border-radius: 0.25rem;
  background-color: #d9c5c1;
  box-shadow: 0 2px 4px #8c4e37;
  color: #401e12;
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
  text-shadow: 0 2px 4px #8c4e37 (0, 0, 0, 0.1);
  position: relative; 
  margin-bottom: 0px;
}

.pet-card-btn {
  font-size: 16px;
  color: #401e12;
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: solid 1px #d9c5c1;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px #8c4303;
  background-color: transparent;
  position: absolute;
  top: 85%;
  right: 5px;
  margin: 5px !important;
  line-height: 30px !important;
}

.like-btn {
  border: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 65%;
  right: 5px;
}

.like-icon {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.unlike-icon {
  filter: grayscale(100%);
}

.alert-modal-ask-login {
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  font-family: 'Gotu', sans-serif;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 70px;
  right: 30px;
}

.btn-close {
  background-color: transparent;
  font-size: 12px;
  padding: 2px;
  height: fit-content;
  width: fit-content;
}

.default-img {
  width: 50px !important;
  height: 50px !important;
}