.search-bar {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 50%; 
  width: 50%;
}

.form-control {
  width: 70%;
  margin-right: 10px;
}

button {
  border: none;
  color: #fff;
  cursor: pointer;
}