.header-container {
    position: absolute;
    margin-top: 150px;
    text-align: center;
    min-width: 600px;
    background-color: transparent;
}

h1 {
    position: absolute;
    width: fit-content;
    text-align: center;
    letter-spacing: -4px; 
    font-family: 'Montserrat Alternates', sans-serif;
    background: linear-gradient(to right, #732002, #F2955E) text; 
    color: transparent; 
    font-size: 4rem; 
    font-weight: 800;
    line-height: 1;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 60px;
    z-index: 3;
}