h1 {
    position: absolute;
    height: fit-content;
    width: fit-content;
    text-align: center;
    font-family: 'Rubik Bubbles';
    font-size: 2rem;
    line-height: 1;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    left: 50px;
    top: 80px;
    bottom: 0;
    background: linear-gradient(to right, #ee5353, #F25F29) text;
    color: transparent;
    background-color: transparent;
    z-index: 10;
  }