@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Love+Ya+Like+A+Sister&family=Montagu+Slab:opsz,wght@16..144,100;16..144,200&family=Mooli&family=Oi&family=Red+Rose:wght@700&family=Rubik+Mono+One&family=Sigmar&family=Water+Brush&display=swap');

@font-face {
  font-family: 'Debock-Personal-Use';
  src: url('./fonts/Debock-Personal-Use.otf') format('opentype');
}

:root {
  height: 100vh;
  width: 100vw;
  }
  
  body{
    height: 0;
  }