.welcome-page-container {
  position: absolute;
  background-image: url('../../styles/backgrounds/welcome-page-background.jpg');
  background-size: contain;
  background-position: center;
  background-color: #ffcc4c;
  background-repeat: no-repeat;
  bottom: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-left: 50px;
}


.welcome-text {
  width: 500px;
  min-width: 300px;
  font-size: 1.4rem;
  letter-spacing: -2px;
  line-height: 1.1;
  font-family: 'Space Mono', monospace;
  color: #593202;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
  margin-bottom: 50px;
}