.welcome-page-container {
  position: absolute;
  background: url('../../styles/backgrounds/welcome-page-background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-left: 50px;
}

.welcome-text, h3 {
  width: 500px;
  min-width: 300px;
  font-size: 1.4rem;
  line-height: 1.1;
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
  color: #401E12;
  text-align: center;
  text-shadow: 0 2px 4px #401E12(0, 0, 0, 0.1);
  margin-top: 150px;
  margin-bottom: 20px;
}

.welcome-page-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.welcome-page-allpetsfeed-container {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  align-items: start;
  width: 650px;
}

.scroll-arrow {
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
}

.scroll-left {
  transform: rotate(180deg);
}

.scroll-right {
  transform: rotate(0deg);
}
