.admin-page-container{
    background: url(../styles/backgrounds/admin-page-background.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: #ffcc4c;
    background-repeat: no-repeat;
    z-index: 20;
}