.admin-dashboard-container {
  padding: 60px;
  background: 
    linear-gradient(to bottom, #837364, #D7C3B8);
  position: relative;
  min-height: 100vh;
  max-height: fit-content;
  min-width: 100vw;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  font-family: 'Gotu', sans-serif;
  font-size: 14px;
  z-index: 20;
  overflow-x: auto;
}

.admin-dashboard-btn {
  font-size: 14px !important;
  height: fit-content;
  padding: 0px 5px;
  width: fit-content !important;
  font-family: 'Gotu', sans-serif;
  font-size: 14px;
  margin: 5px;
}

.filter-input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  margin: 5px;
}

.add-pet-form-container {
  width: 80%;
  margin: auto;
  margin-top: 120px;
}

.add-pet-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.add-pet-form label {
  margin-bottom: 10px;
}

.add-pet-form select,
.add-pet-form input,
.add-pet-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.radio-choice {
  height: fit-content !important;
  width: fit-content !important;
  border-radius: 50% !important;
  border: none;
  background-color: transparent;
  box-shadow: none;
  margin-right: 10px;
  margin-left: 10px;
}

.left-label {
  font-weight: 300;
  padding-right: 20px !important;
}

.add-pet-form-part1,
.add-pet-form-part2 {
  display: flex;
  flex-direction: column;
}

.admin-dashboard-name {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -1px;
  color: #8C4303;
  position: absolute;
  top: 70px;
}

.dashboard-header{
margin: 20px;
display: flex;
align-items: flex-end;
}

.save-pet-details-button {
  font-size: 14px !important;
  padding: 5px 5px 5px 5px !important;
  margin: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.admin-success-message {
  background-color: transparent !important;
  color: #8C4303;
  padding: 15px;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

textarea {
  height: 160px !important;
  width: 364px;
  width: 100px;
}

.pet-dashboard-btns {
  display: flex;
  align-items: flex-start;
  margin-left: -50px;
}

.pet-dashboard-btns .admin-dashboard-btn {
  font-size: 12px;
  height:  fit-content;
  padding: 3px 10px; 
  margin: 10px;
}

.user-pets-page-container{
  font-family: 'Italiana', sans-serif;
  font-size: 14px;
}

.dashboard-counter{
  margin: 20px;
  padding: 10px;
}

.custom-table th,
.custom-table td {
  background-color: #D9C5C1;
}

.pagination-container{
margin: 0 0 10px 30px;
}

.pagination-btn{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 3px;
  margin: 10px;
}

.add-new-pet-btn{
  font-size: 14px;
  background-color: #837364;
  border-radius: 0.25rem;
  padding: 5px;
  color: #FFFFFF;
  border: none;
}

.status-counts{
  margin: 10px;
}