@media (max-width: 600px) {
  welcome-text {
    line-height: 0.5;
    font-size: 30px;
    min-width: 400px;
  }
  .search-category-card-container {
    width: 80%;
  }
}

.home-page-container {
  position: absolute;
  background-image: url('../../styles/backgrounds/home-page-background.jpg');
  background-size: contain;
  background-position: right;
  background-color: #FFAE25;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.home-page-call-to-action {
  font-family: 'Space Mono', monospace;
  margin-top: 200px;
  margin-left: 150px;
  margin-bottom: 100px;
  width: 400px;
  font-size: 1.2rem;
  color: #593202;
  letter-spacing: -1px;
}