@media (max-width: 600px) {
  welcome-text {
    line-height: 0.5;
    font-size: 30px;
    min-width: 400px;
  }
}

.home-page-container {
  position: absolute;
  background-image: url('../../styles/backgrounds/happy-woman-with-cute-dog.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}


.user-greeting{
  margin-top: 40px;
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: -2px;
  line-height: 1.1;
  font-family: 'Space Mono', monospace;
  color: #593202;
  text-align: center;
}